.slider__title {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.banner {
  background-color: #7c3aed;
  background-image: url("/banner.png");
}

details[open] .arrow-icon {
  transform: rotate(180deg);
}

details summary {
  list-style: none;
}

.selected-filters__tabs::-webkit-scrollbar {
  height: 5px;
}

.selected-filters__tabs::-webkit-scrollbar-track {
  background: #f5f3ff;
}

.selected-filters__tabs::-webkit-scrollbar-thumb {
  background: #ddd6fe;
  border-radius: 100px;
}

.selected-filters__tabs::-webkit-scrollbar-thumb:hover {
  background: #c4b5fd;
}